<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\Andromeda\env\Scripts\python.exe|C:\inetpub\wwwroot\Andromeda\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <applicationInitialization doAppInitAfterRestart="true" />
  </system.webServer>

<appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Andromeda" />
    <add key="DJANGO_SETTINGS_MODULE" value="menatics.settings" />
    <add key="WSGI_HANDLER" value="menatics.wsgi.application" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\Andromeda\wsgi_error.log" />
  </appSettings>
</configuration>