:root {
    --color-primario: #f4a51c;
    --color-secundario: #404040;
    --color-aux: #0d6efd;
}

.text-primario {
    color: var(--color-primario);
}

.text-secundario {
    color: var(--color-secundario);
}

.text-aux {
    color: var(--color-aux);
}

/* Estilos generales */
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar (Menú Lateral) */
.sidebar {
    min-height: 100vh;
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.bg-principal{
    background-color: var(--color-primario);
}

.logo-area {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

.logo-img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
}

.nav-link {
    color: var(--color-secundario);
    font-weight: 500;
    padding: 15px 20px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}
    
.nav-link:hover {
    background-color: #d3d3d3; 
    color: #000;
}

.nav-link.active {
    background-color: #f4a51c; 
    color: #fff;
}

.nav-link i {
    width: 25px;
}

/* Contenido principal */
.main-content {
    margin-left: 250px; 
    padding: 30px;
}

/* Botones bersonalizados */
.btn-menatics {
    background-color: var(--color-primario);
    color: #fff;
    border-color: var(--color-primario);
    transition: transform 0.2s;
}

.btn-menatics:hover {
    color: var(--color-secundario);
    border-color: var(--color-primario);
    transform: translateY(-2px);
}

.btn-outline-aux{
    color: var(--color-secundario);
    border-color: var(--color-primario);
    transition: transform 0.2s;
}

.btn-outline-aux:hover{
    background-color: var(--color-primario);
    color: #fff;
    border-color: var(--color-primario);
    transform: translateY(-2px);
}

.btn-outline-secundario{
    color: var(--color-secundario);
    border-color: var(--color-secundario);
    transition: transform 0.2s;
}

.btn-outline-secundario:hover{
    background-color: var(--color-secundario);
    color: #fff;
    border-color: var(--color-secundario);
    transform: translateY(-2px);
}

.btn-outline-primario{
    color: var(--color-aux);
    border-color: var(--color-aux);
    transition: transform 0.2s;
}

.btn-outline-primario:hover{
    background-color: var(--color-aux);
    color: #fff;
    border-color: var(--color-aux);
    transform: translateY(-2px);
}

/* Tarjetas y formularios */
.card {
    border-radius: 10px;
}

.card-header {
    background-color: white;
    border-bottom: 2px solid #FFA500;
}

.form-control:focus {
    border-color: #f4a51c;
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
}